{% extends 'base.html' %}

{% block contain %}

<div class="container">
    <h1 class='text-center my-3'>Register here</h1>

    <form action='' method="POST">
        {% csrf_token %}
        
        <div class="form-group col-md-4">
                <label for="inputEmail4">Name</label>
                <input type="text" class="form-control" id="" name="username">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" name="email" id="email">
        </div>
        
        <div class="form-group col-md-4">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control"name="password" id="password1">
        </div>
        
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  


</div>

{% endblock %}

